@import url(https://unpkg.com/@webpixels/css@1.0/dist/index.css);

.m-t-80 {
  margin-top: 0px; 

}

#myList {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  flex-grow: 1;
}

.d-flex {
  width: 100%;
}

.list-group-item.tab-1 {
  display: inline-block;
  width: 20%;
  text-align: center;
  padding: 10px;
  background-color: #ABC4FF;
  border-color: #ABC4FF;
}

.list-group-item.tab-1.active {
  background-color: #E2EAFC;
  border-color: #E2EAFC;
  width: 20%;
  text-align: center;
  padding: 10px;
}

.mt-25{
		margin-top: 30px
}



.pointer {
	cursor: pointer;
}

.page-item {
	margin-left: 3px;
	margin-right: 3px;
	border-radius: 0;
}

.page-item.active .page-link {
	color: white !important;
	background: blue !important;
	border-color: blue !important;
}

.row{
	margin-top: 10px
}

.my-class{
  width: 700px;
  height: 100px;
  border: 1px solid black;
  border-radius: 10px;
  overflow: auto;
  word-wrap: break-word;
  box-sizing: border-box;
  padding: 5px;
}

.btn{
	background-color: #ABC4FF;
  	border: 2px solid #ABC4FF;
  	border-radius: 5px;
  	font-size: 13pt;
}

.btn:hover {
  background-color: #5c60f5;
  border-color: #5c60f5;
  color:white;
}

.my-class-2{
	background-color: #ABC4FF;
  	border: 2px solid #ABC4FF;
  	border-radius: 10px;
  	font-size: 16pt;
}

.my-class-2:hover {
  background-color: #5c60f5;
  border-color: #5c60f5;
  color:white;
}



#checkbox-list {
  color: black;
  margin-top:5px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 20px;
}